.contenedorLanding {
    background-image: url('../../images/mapadelmundo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: right;
    text-align: center;
  }
  .buttonLanding{
    margin-top: 50px;
    padding: 10px;
    border-radius: 4px;
    border:3px solid #321906;
    background-color: white;
    font-size: medium;
    font-weight: bold;
  }
  .buttonLanding:hover{
    background-color: #321906;
    color: white;
  }
  .h2Landing{
    color: #fffb5b;
    font-family: 'Maven Pro', sans-serif;
  }
  .h1Landing{
    color: #fffaf2;
    font-family: 'Maven Pro', sans-serif;
  }